.container{
    width: 100%;
    margin-top: 0px;
}

#add:hover{
 background-color: black;
 color: aliceblue;
 transition: 0.5s;
}
.row{
    display: flex;

}
.heading{
    width: 100px;
}

#ctn{
    background-color: rgb(211, 211, 211);
}


.submitbtn{
    margin-left: -400px;
    border-radius: 10px;
}



.btn{
    border-radius: 10px;
    color: bisque;
    background-color: rgb(164, 164, 164);
    color: black;
}

.btnLog{
    margin-left: 100px;
}

